name: Check Action Typing

on:
    push:
      paths:
        - 'action.yml'
        - 'action-types.yml'
    pull_request:
      paths:
        - 'action.yml'
        - 'action-types.yml'

jobs:
    check_action_typing:
        name: Check Action Typing
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Check Action Typing
              uses: krzema12/github-actions-typing@v0
